<mat-spinner *ngIf="loading$ | async"></mat-spinner>

<mat-accordion *ngIf="!(loading$ | async)">
  <mat-expansion-panel *ngFor="let student of students$ | async">
    <mat-expansion-panel-header>
      {{ student.fullName }}
    </mat-expansion-panel-header>
    <p>
      {{ student.email }}
    </p>
    <mat-action-row *ngIf="isHr">
      <button mat-button color="warn" (click)="onUpdate(student)" *ngIf="student.isActive">Deactivate</button>
      <button mat-button color="accent" (click)="onUpdate(student)" *ngIf="!student.isActive">Activate</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator
  *ngIf="(totalPages$ | async) > 0"
  [length]="totalPages$ | async"
  [pageSize]="2"
  [pageSizeOptions]="[2, 5, 10]"
  (page)="onPageChange($event)"
></mat-paginator>
